*{
    margin: 0;
    padding: 0;
    
}

.center{
    display: flex;
    align-items:center;
}

.heading{
    font-size: 80px;
}

.flexColumn {
    flex-direction: column;
    justify-content:center ;
}

.flexRow {
    flex-direction: row 2;
    gap:20px;
}

button{
    width: 100px;
    height: 40px;
    font-size: medium;
    font-style: oblique;
    position: relative;
    top: 50%;
    color:rgb(211, 213, 215);
    background-color:#0a0a23;;

}

.btnGap{
    padding-top: 50px;
    padding-left: 80px;
}

.gap > *{
    padding-top: 30px;
}

.container{
    background-color:cadetblue;
    color:black;
    height:100vh ;
}

#questionBox{
    color:blue;
    border: 2px solid;
    justify-content: center;
    font-size: larger;
    width: 50%;
}