*{
    margin: 0;
    padding: 0;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    flex-direction: column;
    justify-content:center ;
}
/* 
.flexRow {
    flex-direction: row;
    align-items: center;
} */

button{
    width: 80px;
}

.btnGap{
    padding-top: 50px;
    padding-left: 80px;
}

.gap > *{
    padding-top: 30px;
}

.container{
    background-color:cadetblue;
    color:black;
    height:100vh ;

}

#questionBox{
    color:blue;
    border: 2px solid;
    justify-content: center;
}